/*középre rendezés*/
form,h2{
    width: 60%;
    margin: auto;
}

form{
    padding: 10px;
}

/*szélesebb szövegmezők*/
textarea, input[type=text]{
    width: 100%;
    border: 0;
    background-color: #f1f1f1;
    border-radius: 5px;
}

/*magasabb szöveges input*/
input[type=text]{
    height: 2rem;
}

/*alsó margó a mezők között*/
form input,textarea, fieldset{
    margin-bottom: 2rem;
}

fieldset{
    border-radius: 5px;
    background-color: #f1f1f1;
    border: 0;
}




input[type=submit]{
    /* az input alapból inline, ezért felül kell írni block-ra,
       hogy érvényesüljön az automatikus margó
    */
    display: block;
    margin-right: auto;
    margin-left:auto;

    /*gomb stílusa*/
    cursor: pointer;
    background-color: #3d3d3d;
    color: white;
    border: 0;
    border-radius: 5px;
    width: 7rem;
    height: 2rem;
}

@media screen and (max-width: 1200px) {
    /*kisképernyőn teljes szélesség*/
    form,h2{
        width: 100%;
        margin: auto;
    }
}

@media (prefers-color-scheme: dark){
    fieldset{
        background-color: #3d3d3d;
        border: 1px solid #87dc38;
    }

    input[type=submit]{
        background-color: #87dc38;
        color: #3d3d3d;
    }
}